@page "/mycompany"

@using AmaraCode.RainMaker


<div class="block-header">
    My Company Profile
</div>

<div class="container">
    <EditForm Model="@Company" OnValidSubmit="@SaveMyCompany">
        <div class="row align-items-start">
            <div class="col">
                <div class="card edit-form p-2">
                    @*<div class="card-header">Current Company-Broker Assignments</div>*@
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="form-group">
                        <label for="name">Name</label>
                        <InputText id="name" class="form-control" @bind-Value="Company.Name" />
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <InputText id="address" class="form-control" @bind-Value="Company.Address" />
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <InputText id="city" class="form-control" @bind-Value="Company.City" />
                    </div>
                    <div class="form-group">
                        <label for="state">State</label>
                        <InputText id="state" class="form-control" @bind-Value="Company.State" />
                    </div>
                    <div class="form-group">
                        <label for="zip">Zip</label>
                        <InputText id="zip" class="form-control" @bind-Value="Company.Zip" />
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <InputText id="phone" class="form-control" @bind-Value="Company.Phone" />
                    </div>
                    <div class="form-group">
                        <label for="emailaddress">Email Address</label>
                        <InputText id="emailaddress" class="form-control" @bind-Value="Company.Email" />
                    </div>
                    <div class="form-group">
                        <label for="contact">Contact</label>
                        <InputText id="contact" class="form-control" @bind-Value="Company.Contact" />
                    </div>

                    <div class="form-group">
                        <label for="taxpercent">Tax Percent</label>
                        <InputNumber id="contact" class="form-control" @bind-Value="Company.TaxPercent" />
                    </div>
                    <div class="form-group">
                        <label for="acpercent">AmaraCode Percent</label>
                        <label for="acpercent" class="form-control rm-disabled">@Company.ACPercent.ToString()</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-sm btn-danger m-2">Save</button>
                <button type="button" @onclick='() => navigationManager.NavigateTo("/")' class="btn btn-sm btn-primary m-2">Return to Home</button>
                
            </div>
            <div class="col">
                <div class="notebox">
                    <ul>
                        <li>Please maintain your company information.</li>
                        <li>The <a href="/companybroker">Company-Broker assignments</a> allow your company to maintain your API Keys needed to communicate with your broker. </li>
                        <li>Oanda API Keys can be obtained from your "My Services" section on your <a href="https://www.oanda.com/account/" target="_blank">Oanda Account</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </EditForm>
</div>
