
<table class="table table-striped">
    <thead>
        <tr class="table-secondary">
            <th>Abbreviation</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>LH</td>
            <td>Local Hour</td>
        </tr>

        <tr>
            <td>CW</td>
            <td>Channel Width</td>
        </tr>
        <tr>
            <td>MxChH</td>
            <td>Max Channel Height</td>
        </tr>
        <tr>
            <td>MnChH</td>
            <td>Min Channel Height</td>
        </tr>
        <tr>
            <td>LZ%</td>
            <td>Long Zone Percent</td>
        </tr>
        <tr>
            <td>SZ%</td>
            <td>Short Zone Percent</td>
        </tr>
        <tr>
            <td>CI</td>
            <td>Curve Interval</td>
        </tr>
        <tr>
            <td>PS</td>
            <td>Profit Strategy</td>
        </tr>
        <tr>
            <td>SLM</td>
            <td>Stop Loss Multiplier</td>
        </tr>
        <tr>
            <td>MS</td>
            <td>Max Spread</td>
        </tr>
        <tr>
            <td>TD</td>
            <td>Trader Delay</td>
        </tr>
    </tbody>
</table>
