<b>What Is Forex Trading?</b>
<p>
    Every day, foreign currencies go up and down in value relative to one
    another. As with anything that changes value, traders can profit
    from these movements. The forex market runs 24 hours a day,
    making it a very liquid market. What surprises many investors is
    the size of the forex market, which is actually the largest
    financial market on Earth. The average daily traded volume is
    $6.6 trillion, according to the 2019 Survey
    of FX and OTC derivatives markets. The New York Stock Exchange,
    on the other hand, trades an average daily volume of just
    over $1.1 trillion.
</p>