<h4>Which Brokers Are Available?</h4>
<p>
    We currently utilize Oanda as our broker.  They offer around 70
    currency pairs to trade.
</p>
<p>
    <img width="200" alt="oanda" src="./images/OANDA_logo_colour_JPG.jpg" />
</p>


@code {

}
