<h4>What Currencies Are Involved?</h4>
<p>
    There are 154 different currencies (221 countries) in the world based on the 
    United Nations Treasury. In theory, we can create 11781 currency pairs
    (computed combinations). In the forex industry, there are around 70 forex 
    pairs that traders often trade.  RainMaker defines pairs as Instruments and those
    Instruments can be viewed <a href="/currency">here</a>.
</p>

@code {

}
