@page "/footer"
<footer>
    <div class="footer-distributed">
        <div class="row">
            <div class="col">
                <div class="footer-white-text">Project</div>
                <h3>RainMaker</h3>
            </div>

            <div class="col">
                <div class="footer-white-text">Created by</div>
                <h2>AmaraCode <span>LLC</span></h2>
            </div>

            <div class="col">
                <p class="footer-project-about">
                    <span>Forex Trading</span>
                    RainMaker is a trading platform focused monitoring the
                    Forex markets while executing small short-term trades.
                </p>
            </div>
        </div>
    </div>
</footer>

