<div class="row">
    <div class="col-auto">
        <div class="btn btn-primary btn-sm" @onclick="() => NavigateToClosedTradesByDate()">Select by Date</div>
    </div>
    <div class="col-auto">
        <div class="btn btn-primary btn-sm" @onclick="() => NavigateToClosedTradesByTradeID()">Select by TradeID</div>
    </div>
    <div class="col-auto">
        <div class="btn btn-primary btn-sm" @onclick="() => NavigateToClosedTradesByMonthYear()">Select by Month/Year</div>
    </div>
    <div class="col-auto">
        <div class="btn btn-primary btn-sm" @onclick="() => NavigateToClosedTradesByTradeWeek()">Select by Week/Year</div>
    </div>
</div>